
<link rel="stylesheet" href="../static/css/style.css">
    <from class="box" action="login2.html" method="post">
        <h1>login</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="password">
        <input type="submit" name="" value="Login">
        <div class="sign_up">
            <a href="signup2.html" title="sign up" id="link-reset">sign up</a>
        </div>
        <style>
            a {
                color: whitesmoke;
            }
        </style>
    </from>

