<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/style2.css ">
</head>

<body>

    <from class="box" action="sign up" method="post">
        <h1>sign up</h1>
        <input type="text" name="" placeholder="Full Name">
        <input type="text" name="" placeholder="Username">
        <input type="email" name="" placeholder="Email">
        <input type="password" name="" placeholder="Password">
        <input type="phone" name="" placeholder="phone">
        <input type="submit" name="" value="Sign Up">

    </from>


</body>

</html>